# General configs:
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:5000/
NEXT_PUBLIC_BACKEND_API_PREFIX=api/

# Set this appropriately:
NEXT_PUBLIC_GRAPHQL_RELAY_ENDPOINT=https://FIXME.hasura.app/v1beta1/relay
NEXT_PUBLIC_GRAPHQL_RELAY_WS_ENDPOINT=wss://FIXME.hasura.app/v1beta1/relay

# Set this:
NEXT_PUBLIC_HASURA_ADMIN_SECRET=...
